@charset "UTF-8";
/*b_03_scss_hw.scss*/

#wrap {width: 1440px; height: auto; background-color: #777;}

/*--------------------work spcae----*/
.headBox {width: 1440px; height: 100px; background-color:#63F979; padding-top:15px;
  & > div {display: flex; justify-content: space-between;
    width:1000px; height: 70px; background-color: #eee;
  margin: auto;
    & > h1{width: 120px; height: 70px; background-color: #ABF0E6;}
    & .navigation {width: 530px; height: 70px; background-color: #B1593D;
      & .unb{display: flex; justify-content: space-around; margin-bottom: 9px;
        float:right; width: 270px; height: 26px; background-color: #4CC343;
      & li {width: 50px; height: 20px;}
      }
      & .gnb{display: flex; justify-content: space-around; 
        width: 530px; height: 35px; background-color: #CC907E;
        & li {width:75px; height: 25px; margin: auto;}
      }
    }
  }
}

.contentBox {position:relative; width: 1440px; height:2269px; background-color: #249A10;
  padding: 450px 170px 129px;
  & > h2 {position:absolute; top:0; left:0; z-index: 100; 
    width: 1440px; height: 250px; background-color: #CC907E;} //h2
  & > .content {width: 1100px; height: 1735px; background-color: #7E0D87; margin-bottom: 38px;
    & .tab_title {width: 1100px; height: 57px; background-color: #61295D; padding:0px 147px 21px; 
      & > ul {display: flex; justify-content:space-around;
        width:806px; height: 36px; background-color: #86A856;
        & > li {width:126px; height: 36px; background-color: palegoldenrod;
        text-align: center;line-height: 36px;}//  li
      }// ul
    } //tab.title
  }//content

  .menu_list {display: flex; justify-content:space-around; flex-wrap: wrap;
    width: 1098px; height: 1640px; background-color: #F82CC9;
  & > li{width: 240px; height: 350px; background-color: #6DDEE5; }}
}//#contentBox

.footBox {width: 1440px; height:450px; background-color: #B1593D;}