@charset "UTF-8";
/*c_04_border-radius.css*/

#wrap {
  width: 1280px; height: auto;
  background-color: #eee;
}

.part {
  width: 95%; height: auto;
  margin: auto;
  padding: 1rem;
  border: 1px solid #171717;
}

.part h2 {
  width: 100%; height: auto;
  padding:0.3rem 1rem;
  border-bottom:0.625rem solid #777;
}

.part ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%; height: auto;
  margin-top: 1rem;
}

.part li {
  width: 100px; height: 100px;
  background-color: #aca;
  text-align: center; line-height: 100px;
  font-size: 1.2rem;
}

.part li:nth-child(1){
  border-radius: 50px;
}

.part li:nth-child(2){
  border-radius: 100%;
} 

.part li:nth-child(3) {
  width: 300px; border-radius: 50px; /* 시계방향의 값*/
}

.part li:nth-child(4) {
  width: 300px; border-radius: 40%;
}

/* 일정한 수치와 비율이냐에 따라서 결과값이 다르다 */

.part li:nth-child(5) {
  border-radius: 200px; 
}
.part li:nth-child(5):hover {
  width: 300px; background-color: #57a;
}

.part li:nth-child(6) {
  border-radius: 10px 30px;
}

.part li:nth-child(7) {
  border-radius: 0 50px 30px;
}

.part li:nth-child(8) {
  border-radius: 0 50px 30px 5px;
}

/*------------------------------------------*/

.part li:nth-child(9) {
  border-radius:30px 0 0 0 ; /* border-radius의 순서는 위아래 후 좌우이다. e.g. border-top-left-radius*/
}

.part li:nth-child(10) {border-top-left-radius:30px 30px;}