@charset "UTF-8";
/* after_shcool */


#wrap {width: 320px; height: 728px; background-color: #fff;}

.headBox {width: 320px; height: 100px; background-color: #d22525;}

  .navigation {width: 320px; height: 40px; background-color: #86057F;}
    
    .gnb > li {float:left; width: 30px; height: 40px; background-color: #6518C2;
    margin-right: 10px;}
    .gnb >li:first-child {margin-left: 10px;}
    .gnb >li:nth-of-type(2) {width: 60px; margin-right: 50px;}
    p { float:left; color:#eee;}
    p:last-child { float:right;}

    
    
    

.back_Box {width: 320px; height: 728px; background-color: #eee;}
      .profile {width:280px; height: 182px; background-color: #171717;
      margin-left:20px; margin-top:-20px; margin-bottom: 20px;}
      .notice {width: 280px; height: 91px; background-color: #171717;
      margin: auto; margin-bottom: 20px;}

      .n_box {margin: auto; width: 280px; height: 280px; background-color: #171717;
      margin-left:20px;}

      .n_box > li {float:left; width: 90px; height: 90px; background-color: #fff;
      margin:25px;}

      
