
@use "sass:math";


.view_part {
  .slide_btn { border-bottom: 1px solid #777; padding-bottom: 1rem; margin-bottom: 0.5rem;
    button { padding:0.3rem 1rem; background-color: #ddd; margin: 0 1rem;}
  }

  $len : 5;
  .view_contents {
    overflow: hidden;
    width: 100%; height: 500px; border:1px solid #999;
    background-color: #ddd;
    ul {width: 100% * $len; height: 100%; display: flex;}
    li {width:math.div(100%, $len); height: 100%; 
      padding: 1rem; color:#fff; font-size: 2rem;
      text-shadow: 0.2rem 0.2rem 0.3rem;
      &.on {display: block;}
    }

    .view_01{background-color: #ADB8FE;}
    .view_02{background-color: #DE1F9F;}
    .view_03{background-color: #25F93C;}
    .view_04{background-color: #7D9615;}
  }
}

@keyframes firstSlide{
  0%{margin-left: 100%; transition: none;}
  100%{ margin-left: 0; transition: margin 500ms ease;}
}

@keyframes lastSlide {
  0%{ margin-left: 0; transition: margin 500ms ease;}
  100%{ margin-left: 100%;}
}