@charset "utf-8";
/* AFTER_SCHOOL */

#wrap {width: 1440px; height: auto; background-color: #fff; padding:30px;}
  #headBox {width: 1170px; height:200px; background-color: #fda;}
  #content {width: 1170px; height: auto; background-color: #fa0;}
  #foot {width: 1170px; height:auto; background-color: #f60;}   

