@charset "UTF-8";
/* c_03_web.css */


/* work area */
#wrap {width: 1000px; height:650px; background-color: #eee;}

/*-------------------- headBox-----------------------*/
#headBox {float:left; width: 200px; height:650px; background-color: #C89B67;}
  h1 {width: auto; height: 50px; background-color: palegoldenrod;
  border-bottom: 1px dotted #171717;}

  h1 a {display: block ; width: 100%; height: 100%;}

  .navigation { width: 100%; height: auto;}

  .navigation ul {width: 100%; height: auto;}
  .navigation li { width: 100%; height:40px; 
  border:1px solid #777;}
  .navigation dl {    width: 100% ; height: 100%;  }

    .navigation dt {     
      width: 100%; height: 100%; background-color: #faa;
      padding:3px; box-sizing: border-box;    }

    .navigation dt a {      display: block; width: 100%; height: 100%;
      text-align: center; left: 36px;    
    }

    .navigation dd {
      display: none;
      width: 100%; height: auto;
      min-height:140px;
      margin-left:100%;
      transform:translateY(-50%);
      background-color: #333;}

      .navigation li:hover dd { display: block; }
      .navigation li:hover dt { display: block; background-color: #333; color: #fff; }

      .navigation dd a {
        display: block; width: 100%; height: auto;
        margin-bottom:10px;
        color: #fff; font-weight: 700;
        padding:10px; box-sizing: border-box;
      }

      .navigation dd a:hover {
        color:#333 ; background-color: #fff;
      }
      .navigation dd a:focus {
        color:#f06; font-size:1.1rem; background-color: #ddd;
      }

  

/*----------------------------viewBox------------------------------*/
#viewBox {float:left; width: 800px; height: 350px; background-color:#77A4BB}

/*----------------------------conBox-------------------------------*/
#conBox {float: left; width: 800px; height: 200px;}
  .no_Gal {float:left; width: 500px; height: 200px; padding: 10px;}

  .no_Gal dl {
    position:relative;
    width: 100% ; height: 100%;}

  .no_Gal dt {
    float:left; 
    width: 50% ; height: 25px; background-color: #F42918;
  border-right:1px solid #333;
background-color: #fd0;}
.no_Gal dt :last-of-type {border:0;}

  .no_Gal dd {
    position:absolute;
    left:0; top:25px;
    width: 100%; height: calc(100% - 25px);}

    dd.notice {background-color: #aff;}
    dd.gallery {background-color: #faa;}

    dt.action + dd {display:block;}
    
    
  .short_Cut {float:right;  width: 300px; height: 200px; background-color: #EFC698;
  padding:20px;}
  .short_Cut > button {
    width: 100%; height: 100%; background-color: #777; color:#fff;}

    .modal_area {
      position: fixed; top:0; left:0; right:0; bottom:0; z-index: 1500;
    }
    .modal_message{
      position: absolute;
      top:0; left:0; bottom:0; right:0; margin:auto; 
      width: 700px; height: 400px;
      padding:10px;
      border:1px solid #3333;
      background-color: #fff;
      border-radius:0.3rem;
      box-shadow: 5px 5px 5px rgba(51,51,51,0.9);
    }

    .modal_message .close {
      position:absolute; right:0; bottom:0; padding:10px;
    }

    .modal_message .close button {
      width: 100px; height: 40px;
      border-radius: 0.3rem;
      background-color:#ccc;
      box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    }
    .modal_bg {
      background-color: rgba(51,51,51,0.7);
      width: 100%; height: 100%;
    }




/*-------------------------------footBox--------------------*/
#footBox {float:left; width: 800px; height: 100px; background-color: #93EFF1;}
  h3 {float:left; width: 150px; height: 100px; background-color: #C0807D;}
  address { float: left; width: 500px; height: 100px; background-color: #9CDD6C;}
  .familysite {float:left; width: 150px; height: 100px; background-color: #636131;}      