// b_02_scss_list_dic.scss
/* b_02_scss_list_dic.css*/

//------------------------------
$yellow:#fa0;
$blue:(#00f, #0af, #0df, #7af, #adf);//list
$psuedoCode:("hover":#87f, 
"focus":#4f3, 
"active":#fda, 
"selected":#dfd); //dic(map)
//------------------------------

#wrap {
  width: 100%; height: 100%; 
  background-color: lighten($yellow, 30%);
}

.list_area {
  width: 100%; height: auto;

  & > li {width: 100%;
  background-color: nth($blue,2);
    &:hover {background-color: map-get($psuedoCode,"hover");}
    &:focus {background-color: map-get($psuedoCode,"focus");}    
  }//li
}//list.area


$coffee:("esspress","latte","choco","vanila","other");

//#{변수명/숫자} 인터폴레이션 기법으로 내용을 담을 수 있게처리하는 형태
.coffee_#{nth($coffee,1)} {width: 100%;}
.coffee_01 {width: 100%;}
.coffee_#{2} {width: 100%;}

//scss 반복문
//for(변수명 in 배열){} <-JS
// @for $i from 시작숫자 through 마무리숫자 {}

//숫자 1부터 5까지 5번 반복수행하면서 해당 숫자는 매개변수$key에 임의 할당
@for $key from 1 through length($coffee) {
  // .area_esspress{} .area_latte {} .area_choco {} ...의 형태로  .area_의 글자에
  // 추가적으로 $coffee 변수 내부에 있는 이름을 각각 항당 하기 위해 보간법인 #{}를 사용.
  //list형식을 사용하기 위해서는 ntg(변수명,순번)

  .coffee_#{nth($coffee,$key)} {
    width:$key * 10%; height: 100%;
    background-color: nth($blue, $key);
    margin: auto; padding: 0; box-sizing: border-box;
  }
}

$device:768;
#viewBox {
  width: 100%; height: 500 / $device *100vw;
}

//js에서 $ 1.변수, 2.${}

/*--------------------------------------------------------------*/

//변수 - $변수명: 값
//중첩 - #box{ >li{} }
//@mixin / @include

@mixin blind() {
  display:block; width: 0; height: 0;
  position:absolute; z-index: -1; clip:rect(0 0 0 0 ); overflow:hidden;
} //@mixin

@mixin bar () {
  &:after, &::after {
    content:""; display: block; clear: both;
  }
}

@mixin full(){
  display: block; width: 100%; height: 100%;
  @content;
  &>span{@include blind();}
}//@mixin full

.nav_area {
  float:right; width: 960px; height: auto;
  & > li {
    float:left; width: auto; height: 30px;
  }
  a { @include full(){background-color: $yellow;}}
  // span { @include blind();}
  @include bar();
}//.nav_area
